/** @format */
@import "./Modal.scss";

@font-face {
	font-family: "hermes";
	src: url("./fonts/Hermes-Regular.otf") format("opentype");
}

@font-face {
	font-family: "demos-next";
	src: url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff"),
		url("https://use.typekit.net/af/7a4f71/00000000000000007735bbed/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
}

$breakpoint_xs: 360px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 14400px;
$breakpoint_xxl: 1600px;

$primary_blue: #4b68bf;
$secondary_blue: #1c2c5b;
$button_blue: #42a9df;
$light_blue: #b7e6f8;
$grey: #f0f7ff !important;
$dark_blue: #1a2040;
$green: #20664c;
$cream: #fbf9be;
$gold: #aa824e;
$dark: #160f09;
$dark_red: #280d04;
$dark_tertiary: #1b2653;
$red: #bf2604;
$active_green: #04ceb4;
$primary_yellow: #fffc13;

// Metrics
$button-padding: 11px 25px 10px 25px;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "demos-next", sans-serif !important;
	font-style: normal;
	font-size: 12.5px;
	width: 100%;
	height: 100%;
	background: $dark_blue !important;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "hermes";
}

.splash-body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, $cream, $dark_blue, transparent);
}

main {
	width: 76%;
	height: fit-content;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	background: linear-gradient(
		180deg,
		#1c2956,
		#1c3061,
		#1b457b,
		#186297,
		#1672a4
	);
	color: white;
	font-size: 16px;
	position: flex;
	flex-direction: row;
	padding: $button-padding;
	border-radius: 4px;
}

.tab-context {
	background-color: $primary_blue;
	color: $cream !important;
	font-size: 16px !important;
	width: 75% !important;
	margin: 0 auto;
}

.heading-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: transparent;
}

.tab-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap !important;
	justify-content: space-between !important;
	margin-bottom: 2rem;
}

.MyEmpty {
	font-family: "Hermes";
	background: $cream !important;
	color: $dark_tertiary !important;
	&:hover {
		background: $active_green !important;
		color: $dark_tertiary !important;
	}
}

.tab-column {
	width: 100px;
}

.MyFilled {
	font-family: "Hermes";
	background-color: $red !important;
	color: $cream !important;
}

.tab-btn {
	background: #fbf9be !important;
	color: $dark_blue !important;
	&:hover {
		transition: 1s all;
		background: $active_green !important;
		color: #160f09 !important;
	}
}

.active-btn {
	background: $active_green !important;
	color: $cream !important;
	pointer-events: none;
	cursor: default;
}

.primary-btn {
	background: $active_green;
	color: $dark_blue !important;
	padding: $button-padding;
	max-height: 50px;
	&:hover {
		transition: 1s all;
		background: $button_blue !important;
		color: $grey !important;
	}
}

.height-75 {
	height: 75vh !important;
	margin-bottom: 5vh;
}

.MuiGrid-root {
	margin-left: 0 !important;
}

.MuiButtonBase-root {
	margin-right: 0 !important;
	border-radius: 3px;
	background: $button_blue;
}

@media (min-width: 980px) {
	.toggle-nav {
		display: none;
	}

	.items {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}
	.nav-cart-item {
		display: flex;
		flex-direction: column;
		background-image: url("../public/basket_icon.svg");
		width: 50px;
		height: 50px;
	}

	.nav-genre-item {
		display: flex;
		flex-direction: column;
		background-image: url("../public/genre_icon.svg");
		width: 50px;
		height: 50px;
	}

	.nav-card-item {
		display: flex;
		flex-direction: column;
		background-image: url("../public/card_icon.svg");
		width: 50px;
		height: 50px;
	}

	.genre-svg {
		display: block;
		width: 50px;
		height: 50px;
	}

	.nav-genre-item {
		display: flex;
		flex-direction: column;
		width: 50px;
		height: 50px;
	}
}

.start-tab {
	color: $light_blue !important;
	flex-grow: 1;
	background-color: $dark_tertiary !important;
}

fieldset {
	background-color: #f0f7ff !important;
	padding: 18px;
}

.logo {
	background-image: url("../public/BB_logo_3.svg");
	height: 80px;
	width: 80px;
}

.drop-down {
	background: transparent !important;
	font-family: "demos-next" !important;
}
.registration-tab {
	background-color: $dark !important;
	flex-grow: 4;
	color: $cream;
}
.login-tab {
	color: $dark_blue !important;
	flex-grow: 4;
	background-color: #fbf9be;
}
.Mui-selected {
	background-color: rgb(240, 247, 255) !important;
	color: rgb(0, 114, 229) !important;
}

.input-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

input[type="text"],
input[type="password"] {
	min-width: 100% !important;
	max-width: 100%;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
	font-size: 14px;
	background: $grey;
	font-family: "demos-next";
	height: 50px;
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: 1s all;
	font-size: 14px;
}

.label::after {
	content: "";
	position: absolute;
	top: 45px;
	left: 0;
	width: 10%;
	background: $red;
	height: 5px;
	transition: 1s all;
}

.disabled {
	opacity: 0.7 !important;
	pointer-events: none;
	cursor: default;
	background: transparent;
}

.page_title {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	font-size: 2.05rem;
	margin-bottom: 0 !important;
}

.disabled-h1 {
	font-size: 3rem;
	color: $gold;
	pointer-events: none;
	cursor: default;
	background: transparent;
	text-decoration: underline;
}

.tab-button {
	padding: $button-padding !important;
	max-height: 60px !important;
}

.tab-button.disabled {
	background: $dark_blue;
	opacity: 0.4;
}

.active-h1 {
	font-size: 2rem !important;
	color: $gold;
	text-decoration: none;
	opacity: 1;
	background: transparent !important;
	transition: 1s all;
	&:hover {
		text-decoration: underline;
		font-size: 3rem !important;
	}
}

.flex-box__container {
	display: block;
	width: 70%;
	margin: 0 auto;
}
.flex-box {
	display: inline-flex;
	justify-content: flex-start;
	width: 100% !important;
	margin: 1rem 0;
}

.flex-box__container__id {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.detail-h1 {
	font-size: 3rem;
	font-family: "Hermes";
	color: $button_blue;
	letter-spacing: 5px;
}

.detail-h2,
.detail-price {
	font-size: 2.5rem;
	font-family: "Hermes";
	color: $button_blue;
	letter-spacing: 5px;
}
.detail-price {
	font-family: "Hermes";
	color: $button_blue;
}

.flex-box__id {
	display: inline-flex;
	justify-content: space-between;
	width: 100% !important;
	margin: 1rem 0;
}

.detail-btn {
	min-height: 50px;
	max-height: 60px;
	font-size: 16px;
	font-family: "Hermes";
}

/* PROGRESS BAR */
.progressbar {
	width: 400px;
	height: 15px;
	background-color: white;
	margin: 2rem auto !important;
}

.progressbar div {
	width: 33.3%;
	height: 100%;
	background-color: $primary_blue !important;
}

.input:focus + .label::after {
	width: 100%;
	font-size: 10px !important;
	transition: 1s all;
	background: $active_green;
}

.input:focus + .label-valid::after {
	width: 100%;
	font-size: 10px !important;
	transition: 1s all;
	background: $red !important;
}

input:focus {
	background: white !important;
	outline: none !important;
	border: 3px solid $active_green !important;
}

.payment-form__container {
	display: block;
	height: fit-content;
	min-width: 300px;
	max-width: 80%;
	margin: 0 auto;
}

.card-h1 {
	color: #1a2040 !important;
	font-size: 1.4rem;
	font-family: "hermes";
}

.thumbnail-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.img-thumbnail {
	background-size: cover;
	width: 100px !important;
	height: 100px !important;
	margin-top: 20px;
}

.container-circular-progress {
	display: block !important;
	width: fit-content;
	height: fit-content;
	margin: 0 auto !important;
}

.circular-progress {
	display: flex;
	height: 147px !important;
	width: 147px !important;
	justify-content: space-around;
}

.formInput {
	display: block !important;
	margin: 0 auto !important;
}

.error {
	background-color: $red;
	color: #f2f0e4;
	max-width: fit-content;
	margin: 0 auto;
}
.success {
	background-color: #04ceb4;
	max-width: fit-content;
	margin: 0 auto;
}

.hero-wrapper {
	height: 575px;
	width: 80% !important;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	margin: 0 auto;
}

.video-player {
	position: relative;
	width: 100% !important;
	height: auto !important;
	padding-top: 5em;
}
iframe {
	border: 1px solid black;
	width: 100% !important;
}

.hero_banner {
	height: 700px;
	width: 95% !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	margin: 0 auto;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}

.hero_banner::after {
	background-color: #001d3b;
	opacity: 0.6;
}

.hero * {
	z-index: 0;
}

.hero:hover {
	box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
		0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
		0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.hero_banner:hover {
	transform: scale(1.15, 1.05);
	transition: all 0.8s ease-in;
}
caption {
	display: inline-block;
	max-width: 200px;
	min-width: 90%;
	font-size: 0.75rem;
	margin: 0 34px;
	color: $dark_tertiary;
}

.product-box {
	height: fit-content;
	max-width: 94%;
	min-width: 600px;
	margin: 0 auto !important;
}

.content-container {
	columns: 2;
	height: fit-content;
	margin-right: 10px !important;
}

.category-link {
	font-size: 16px;
	color: $primary_blue;
	text-decoration: underline;
}

.ratio-4-3 {
	width: 100%;
	position: relative;
	// background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
}
.ratio-4-3:before {
	display: block;
	content: "";
	padding-top: 75%;
}

header {
	position: relative;
	height: 100vh;
	min-height: 100%;
	width: 100%;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
	z-index: -99;
}

header:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

header .banner {
	display: inline-block;
	vertical-align: center;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	text-align: center;
	font-family: 24px;
	font-weight: bold;
}

.link-button {
	font-family: "Hermes";
	background-color: #2b6ed4;
	color: $cream;
	padding: $button-padding !important;
	font-size: 14px;
	max-height: 50px !important;
	border-radius: 3px;
}

.link-button:before {
	display: inline-flex;
	content: " ";
	background-image: url(/_next/static/media/details_icon.bb6f9835.svg);
	background-size: 18px 18px;
	height: 18px;
	width: 18px;
	align-self: flex-start !important;
	margin-right: 15px;
	padding: 0 !important;
	overflow-y: none;
}

header .banner-text {
	color: #f5f5f5;
	width: 100%;
}

.button-form__container {
	display: block;
	position: relative;
	width: fit-content;
	margin: 3rem auto;
}
.button-group__card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 10px;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.circular-progress-wrapper {
	position: relative;
	padding-top: 18% !important;
	padding-bottom: 18% !important;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

.isValid {
}

.product-box {
	height: fit-content;
	max-width: 94%;
	min-width: 600px;
	margin: 0 auto !important;
}

.height-75 {
	height: 75vh !important;
	margin-bottom: 5vh;
}

.ratio-4-3 {
	width: 100%;
	position: relative;
	// background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
}
.ratio-4-3:before {
	display: block;
	content: "";
	padding-top: 75%;
}

.single-image {
	display: block !important;
	position: relative !important;
	height: 450px !important;
	width: auto !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 50px !important;
}

.singleNews-para {
	width: 40%;
	column-count: 1;
	column-gap: 5%;
	text-align: justify;
	margin: 0 auto;
	padding-top: 32px;
}

.hero {
	height: 210px;
	width: auto;
	background: #ffff url("/images/hero.jpg") no-repeat center center;
	color: #fff !important;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $cream !important;
	//background: linear-gradient(90deg, $primary_blue, #00a7e3);
	//background: radial-gradient(circle at 50% -100%, #000080, #2391ff, #c6ffff);
	color: $primary_blue;
	height: 110px;
	padding: 0 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 900;
}

.header a {
	color: $primary_blue;
	margin-right: 20px;
	font-size: 1.25rem;
}

.login-btn {
	background-color: $active_green !important;
	color: $cream !important;
	&:hover {
		background-color: $cream !important;
		color: $red !important;
	}
}

.header a:hover {
	color: $red !important;
	text-decoration: underline;
}
.header ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.toggle-nav {
	display: flex;
	position: relative;
	right: 40px;
	top: 4px;
	padding: 15px;
	color: $dark_blue;
	font-size: 1rem;
	border-radius: 0 !important;
	//background: linear-gradient(45deg, $tertiary_blue, transparent);
	background-color: white;
	border-radius: 4px !important;
	border: 2px solid $dark_blue !important;
}

.checkout-summary {
	display: flex;
	flex-direction: row;
	justify-self: center;
	width: fit-content;
	padding: $button-padding;
	border-bottom: 2px $red solid;
	margin-bottom: 15px;
}

th {
	letter-spacing: 2px;
	border: 1px solid $dark_blue;
}

td {
	letter-spacing: 1px;
}

tbody td {
	text-align: center;
}

tfoot th {
	text-align: right;
}

@media screen and (max-width: $breakpoint_sm) {
	.header ul {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		flex-direction: column;
		margin-top: 230px;
		background: $cream;
		width: 100%;
		z-index: 10000;
		padding: 6px 0 !important;

		li {
			width: 100%;
			min-height: 3.5rem;
			border: 1px solid #1c2c5b;
			margin: 0 auto !important;
		}
	}

	.header a,
	.drop-down {
		color: #4b68bf;
		margin-right: 20px;
		font-size: 15.6px;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
		vertical-align: middle;
	}
	.html,
	body {
		font-size: 12px;
	}
	.main-splash {
		width: 100% !important;
	}
	.MuiTabPanel-root {
		padding: 0;
	}
	.tab-context {
		font-size: 12px !important;
		width: 95% !important;
		margin: 0 auto;
	}
	.content-container {
		columns: 1;
	}

	.flex-box__container {
		width: 98%;
		margin: 0 auto;
	}
	.active-h1 {
		font-size: 1rem;
		&:hover {
			text-decoration: underline;
			font-size: 1.15rem;
		}
	}
	.disabled-h1 {
		font-size: 1rem;
	}
}
@media screen and (min-width: 768px) {
	.toggle-nav {
		display: none;
	}
}
